<html>
	<head>
		<meta charset="UTF-8">
		<title>Libreria</title>
	</head>
	<body>
		<h1>{{ libro['title'] }}</h1>
		{% if libro['status'] == 'MEAP' %}
			<h2>ESTE LIBRO NO SE HA PUBLICADO</h2>
		{% endif -%}
		<img src="{{ libro['thumbnailUrl'] }}">
		<p>Nº de paginas: {{ libro['pageCount'] }}</p>
		<p>Descripcion:</p>
		<p>{{ libro['shortDescription'] }}</p>
		<p>Autores:</p>
		{% for autor in libro['authors'] -%}
			{% if autor != '' %}
				<li>{{autor}}</li>
			{% endif -%}
		{% endfor -%}
		<p>Categorias:</p>
		{% for categoria in libro['categories'] -%}
			<li><a href="/categorias/{{categoria}}">{{categoria}}</a></li>
		{% endfor -%}
	</body>
</html>
